@import './base.css';

#app.light {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0rem;
  font-weight: normal;
  background-color: #ffffff;
  color: hsl(220, 16%, 22%); /* 確保文字顔色與背景有足夠的對比度 */
}

a, .green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1); /* 鏈接顔色 */
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  color: #0056b3; /* 鏈接懸停顔色 */
}

h1 {
  margin-bottom: 1rem;
  color: #007bff;
}

h2 {
  color: #333333; /* 確保標題顔色清晰 */
}

p {
  font-size: 1.2rem;
  color: #333;
}

li {
  margin-bottom: 0.5rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 0.5rem; /* 設定右側的外邊距 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影效果 */
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影效果 */
}

button.delete,
button.cancel {
  background-color: #ccc;
  color: black;
}

button.delete:hover,
button.cancel:hover {
  background-color: #999;
}

button:disabled {
  background-color: #ccc;
}

.close-button {
  position: absolute; /* 絕對定位 */
  top: -30px;
  right: -20px;
  background-color: #808080; /* 按鈕背景 */
  border: none; /* 無邊框 */
  border-radius: 50%; /* 圓形按鈕 */
  width: 30px; /* 按鈕寬度 */
  height: 30px; /* 按鈕高度 */
  display: flex; /* 使用 flexbox 中心對齊內容 */
  justify-content: center; /* 水準居中 */
  align-items: center; /* 垂直居中 */
  color: white; /* 字體顔色為白色 */
  font-size: 20px; /* 字體大小 */
  cursor: pointer; /* 滑鼠指針變為手形 */
  transition: background-color 0.3s; /* 添加過渡效果 */
}

.close-button:hover {
  background-color: #ff6666; /* 懸停時的背景顔色變化 */
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-group textarea {
  min-height: 100px; /* 設定文本區域的最小高度 */
}

.tooltip {
  display: inline-block;
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px; /* Adjust width as needed */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 100%; /* Position below the link */
  left: 50%;
  margin-left: -100px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  transform: translateY(10px); /* Slightly offset the tooltip to be below the link */
}

.error-message {
  color: red;
  margin-top: 1rem;
  border: 1px solid red; /* 添加邊框 */
  background-color: rgba(255, 0, 0, 0.1); /* 半透明背景 */
  padding: 10px; /* 添加內邊距 */
}

.success-message {
  color: green;
  margin-top: 1rem;
  border: 1px solid green; /* 添加邊框 */
  background-color: rgba(0, 255, 0, 0.1); /* 半透明背景 */
  padding: 10px; /* 添加內邊距 */
}

.info-message {
  color: blue; /* 你可以根據需要更改顏色 */
  margin-top: 1rem;
  border: 1px solid blue; /* 添加邊框 */
  background-color: rgba(0, 0, 255, 0.1); /* 半透明背景 */
  padding: 10px; /* 添加內邊距 */
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 設定較高的 z-index */
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 5px;
}

.modal-content button {
  margin-top: 16px; /* 調整此值以改變距離 */
}

.favicon {
  width: 16px;  /* 設定固定寬度 */
  height: 16px; /* 設定固定高度 */
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加陰影效果 */
}

th, td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

/* 夜間模式設置 */
#app.dark {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0rem;
  background-color: #121212;

  a, .green {
      color: hsla(160, 100%, 70%, 1); /* 調亮鏈接顏色 */
  }

  a:hover {
      color: #88c0d0; /* 鏈接懸停時的顏色 */
  }

  h1 {
      color: #81a1c1;
  }

  h2, p, li {
      color: #e5e9f0; /* 標題顏色 */
  }

  button {
      background-color: #5e81ac;
      color: #ffffff;
  }

  button:hover {
      background-color: #4c566a;
  }

  .close-button {
      background-color: #4c566a;
  }

  .close-button:hover {
      background-color: #bf616a;
  }

  .modal-content {
      background-color: #2e3440; /* 深色背景 */
      color: #d8dee9; /* 文字顏色 */
  }

  table {
      background-color: #2e3440;
      color: #eceff4;
  }

  th {
    background-color: #f4f4f4;
    color: #121212; /* 表頭文字顏色 */
  }

  header, footer {
    background-color: #121212;
    color: #ffffff; /* 白色文字 */
  }

  .header-title {
    color: #ffffff; /* 深灰色 */
  }
}
